*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 80vw;
    border: 5px solid black;
    margin: 20px auto;
    padding: 20px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat();
}

img{
    width: 128px;
}

.item{
    border: 2px solid darkgrey;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.name{
    font-size: 2rem;
    font-weight: 700;
}

.faction{
    font-size: 1.2rem;
    font-weight: 500;
}

.details{
    text-align: center;
}

.desc{
    text-align: justify;
    line-height: 1;
}

#Amiya{
    background-color: #264858;
    color: white;
    grid-column: 1/3;
    grid-row: 1/2;
}

#Shiroko{
    background-color: #48DEE2;
}

#Enterprise{
    background-color: #B6ACB2;
}

#M4A1{
    background-color: #737C3A;
}

#Kiana{
    background-color: #2B212C;
    color: white;
}