@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-image: url('BiohazardBG.jpg');
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.alert {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

.alert h1 {
    color: #ff4d4d;
}

.alert p {
    color: #333;
    margin: 10px 0;
}

.alert ul {
    list-style-type: none;
    padding: 0;
}

.alert ul li {
    margin-bottom: 5px;
}
